:root {
  --white: #dddddd;
  --gray1: rgb(127, 133, 139);
  --gray2: rgb(48, 51, 56);
  --gray3: rgb(38, 42, 48);
  --gray4: rgb(21, 24, 25);
  --blue1: rgb(1, 175, 255);
  --blue2: rgb(25, 56, 72);
  --blue3: rgb(6, 47, 121);
  --blue4: rgb(2, 11, 38);
  --green1: rgb(37, 161, 53);
  --green2: rgb(23, 99, 61);
  --orange1: rgb(210, 86, 9);
  --orange2: rgb(148, 67, 16);
  --red1: rgb(255, 0, 0);
  --red2: rgb(143, 20, 20);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray1);
  background-color: var(--gray4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: unset;
  text-decoration: unset;
}

button,
.bounce:hover {
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
}
